# Configuración del Backend de Aigerim
# Copia este archivo, renombralo a `.env` y añade tu propia API Key de OpenAI
# Si requieres de una clave, ponte en contacto conmigo a través de h.silva.2021@alumnos.urjc.es

OPENAI_API_KEY=tu_clave_de_openai_aqui